<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
>

    <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_rules"
            tools:targetApi="31"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:label="Code Woman"
            android:icon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/Theme.CW">

        <activity
                android:name="com.gm.cw.MainWindow"
                android:exported="false" />
        <activity
                android:name="com.gm.cw.CadastroForm"
                android:exported="false" />
        <activity
                android:name="com.gm.cw.LoginForm"
                android:exported="false" />
        <activity
                android:name="com.gm.cw.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>